@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    transition:0.05s all ease-in-out;
}
.orangColor{
    color:#ff4500cc;
}
body{
    background-color:#fff;
}
.Container{
    display:flex;
    margin: 0 auto;
    width: 90%;
    padding-top: 40px;
}
/* ========HeaderSection============ */
#headerContainer{
    padding-top: 15px;
}
#headerSection {
    box-shadow: 0px 0px 70px #a4a4a4;
    padding-bottom: 20px;
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0px;
    background: #fff;
}
.mainMenu{
    display: flex;
    width: 100%;
}
.logo{
    width: 50%;
    text-transform: uppercase;
    font-size: 15px;
}
.logo span{
    color: #554c4cde;
}
.menuber{
    width: 50%;
}
.menuber ui{
    list-style: none;
    float: left;
    display: inline-flex;
    margin-left: 50px;
    text-decoration: none;
}
.menuber ui li{
    margin-left: 45px;
    line-height: 34px;
    

}
.menuber ui li a:hover  {
    border-bottom: 5px dotted rgb(176, 236, 10);
    border-radius: 0px 0px 8px 8px;
    padding-bottom: 5px;
    color: orangered;
}
.menuber ui li a{
    text-decoration: none;
    color: #554c4cde;
    font-size: 13px;
    text-transform: uppercase;
}




/* ====================== */
.homeSection{
    width: 45%;
    height: 100%;
    padding-bottom: 70px;
}
.homeSection h1{
    margin-top: 25%;
    font-size: 54px;
    line-height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: #444444b0;
}
.homeSection h3{
    font-size: 17px;
    text-transform: capitalize;
    color: #464040ed;
    line-height: 28px;
    margin-top: 27px;
}

.homeSection .button {
    border: none;
    border-radius: 50px;
    background: linear-gradient(orangered, orange);
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    padding: 16px 50px;
    box-shadow: 4px 5px 16px #ff4500c4;
    line-height: 120px;
}
.homeSection img{
    width: 100%;
    float: right;
    margin-right: -30%;
    margin-top: 5%;
}
/* ======================= */
/*====== AboutSetion ======*/
/* ======================= */
#AboutBg{
    background: url(img/shape/7.png);
    background-repeat: no-repeat;
    height: 85hv;
    overflow: hidden;
    background-size: cover;
}
.aboutSection{
    width: 50%;
    text-align: center;
}
.aboutSection img{
    width: 58%;
    overflow: hidden;
}

.aboutTitle {
    text-align: left;
    font-size: 35px;
    color: #464545d9;
    margin-top: 15%;
    padding-bottom: 20px;
}

.aboutSubtitle {
    text-align: justify;
    color: #716a6a;
    line-height: 26px;
}
.aboutBatton {
    padding: 17px 50px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background: linear-gradient(orangered, orange);
    font-size: 16px;
    box-shadow: 5px 5px 10px orange;
    text-decoration: none;
    line-height: 138px;
}

/* ======================= */
/* ==== RecipiesSetion ====*/
/* ======================= */
#recipies{
    height: 750px;
    background-color:#ffff;
}
.resipiesTitle {
    text-align: center;
    line-height: 70px;
    text-transform: capitalize;
    color: #464545d9;
    font-size: 35px;
}
.resipiesSubtitle {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    padding-bottom: 50px;
    line-height: 25px;
    color: #716a6a;
}
.mainManu{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.menuBox{
    width: 30%;
    border: 15px solid #fff;
    box-shadow: 0px 0px 15px #00000042;
    border-radius: 30px;
    margin-left: 2%;
    padding: 5px 5px 10px 5px;
}
.menuBox img{
    width: 100%;
    border-radius: 8px;
    height: 233px;
}
.menuTitle {
    line-height: 60px;
}
.menuBox p {
    color: #716a6a;
    line-height: 28px;
    text-align: inherit;
}
/* ======================= */
/*====== SocalMediaSetion ======*/
/* ======================= */
.socalMedia{
    display: flex;
    box-shadow: 0px 0px 26px #ddd;
    width: 100%;
    margin-bottom: 120px;
    text-align: center;
    padding: 80px 0px;
    border-radius: 5px 80px 5px 80px;
}
.socallink{
    width: 33.33%;

}
.socallink h1 {
    font-size: 35px;
    color: greenyellow;
    line-height: 66px;
}
.socallink h1 span {
    color: #484747;
}
/* ======================= */
/*====== FooterSetion ======*/
/* ======================= */
#ContentSection{
    background: #74ac4d;
}
#ContentSection{
    text-align: center;
}.ContentTitle{
    color: #000;
    padding: 45px 0px;
    font-size: 35px;
}
.ConFoMain{
    width: 100%;
    display: flex;
    padding-bottom: 50px;
}
.contentForm{
    width: 50%;
    display: inline-block;
}


#fullName {
    width: 250px;
    border: none;
    padding: 15px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
}
#gmail {
    width: 250px;
    border: none;
    padding: 15px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
}
#textarea {
    width: 500px;
    border: none;
    padding: 15px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
}

.ContactInfo{
    width: 50%;
}
.ContactInfo h1 {
    font-size: 25px;
    color: orangered;
    padding: 20px 0px;
}
.ContactInfo span{
    color: #fff;
}

.ContactInfo a {
    text-decoration: none;
    color: #fff;
}
.ContactInfo ul {
    padding: 18px;
}
.ContactInfo ul li {
    line-height: 29px;
    color: #fff;
    list-style: none;
}
/* ======================= */
/*====== FooterSetion ======*/
/* ======================= */

footer{
    background-color: #000000d6;
    height: 200px;
    color: #fff;
    text-align: center;
}

footer h2{
    text-transform: uppercase;
    padding-top: 55px;
    font-size: 26px;
}
footer strong{
    font-weight: 200;
    line-height: 80px;
    font-size: 16px;
    color: #ddd;
}
